.content {
    font-size: 14px;
}

.content a {
    color: blue;
}

.content p, .content ul, .content ol {
    margin-bottom: 1rem;
}

.content ol {
    list-style: decimal inside;
}

.content ul {
    list-style: square inside;
}

.content > ol > li > p:nth-child(1) {
    display: inline;
}

.content code {
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    color: #285E61;
    background-color: white;
    font-weight: 600;
}

.content code {
    white-space: pre-wrap;
}

.content pre {
    background-color: white;
    padding: 1rem 0rem;
}

.content h2 {
    font-size: 26px;
    font-weight: 600;
}